
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Work Sans', sans-serif;
}

.unmask{
  transition: 1.5s;
  transform: translateX(-2000px) rotate(40deg);
}
.unmask-active{
  transform: translateX(0px);
}


/*start*/
.container {
    display: flex;
    background:linear-gradient(black 10%, rgba(0, 153, 255, 0.562) 80%);
}   

.logo{
    display: inline-block;
    width: 710px;
    height: 700px;
}
   
.textElement{
    display: inline-block;
    width: 500px;
    height: 700px;
}

#text, #text1{
    display: flex;
    justify-content: center;
    top: 250px;
    color: white;
    font-size: 30px;
    transition: 1s;
    font-family: "Audiowide", sans-serif;
}

.phone-container{
    display: flex;
    width: 710px;
    height: 700px;
    animation: down 3s linear;
}
@keyframes down{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.6;
  }
  75%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}


.case{
    width: 300px;
    height: 550px;
    border: 5px solid black;
    border-radius: 15px;
    position: relative;
    left: 40%;
    top: 10%;
    background-color: white;
}


.date-container{
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 20px;
    border-radius: 25%;
    position: absolute;
    padding: 10px;
    top: -5px;
}
.speaker{
  width: 100px;
  height: 25px;
  background-color: #000813;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  top: 1px;
  left: 35%;
}
.internet{
  position: absolute;
  width: 20px;
  height: 15px;
  left: 85%;
}
.internet::before{
  position: absolute;
  top: 2px;
  content: "LTE";
  font-size: 10px;
}
.internet::after{
  content: "";
  width: 1px;
  height: 5px;
  border: 1px solid black;
  background-color: #000813;
  position: absolute;
  left: -6px;
  top: 4px;
}
.range{
  width: 3px;
  height: 5px;
  border: 1px solid black;
  background-color: #000813;
  position: absolute;
  left: 81.25%;
  top: 16px;
}
.range::before{
  content: "";
  width: 1px;
  height: 1px;
  border: 1px solid black;
  background-color: #000813;
  position: absolute;
  left: -5px;
  top: 1px;
}

.battery{
    width: 10px;
    height: 15px;
    border: 1px solid black;
    border-radius: 15%;
    background-color: rgb(56, 241, 0);
    transform: rotate(90deg);
}

.battery::before{
    content: " ";
    width: 2px;
    border: 1px solid black;
    position: absolute;
    top: -3px;
    left: 1.5px;
}

.app-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 2.5%;
    top: 15%;
    width: 95%;
    height: 60%;
    background-color: var(--color);
}

.arrow-back{
  width: 15px;
  height: 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.356);
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 20px;
}
.arrow-back::after{
  content: "";
  width: 12px;
  height: 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.356);
  position: absolute;
  top: 2px;
  left: 2px;
  transform: rotate(30deg);
}

.arrow-back::before{
  content: "";
  width: 12px;
  height: 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.356);
  position: absolute;
  top: -4px;
  left: -5px;
  transform: rotate(-30deg);
}

.app{
  display: flex;
  margin: 5px;
  width: 45%;
  height: 40%;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 8px 8px 24px -10px rgba(66, 68, 90, 1);
  background-color: white;
  transition: 1s;
  
}

.app-active{
  background-color: rgba(0, 153, 255, 0.562);
  border-radius: 10%;
  border: 1px solid rgb(0, 153, 255);
}

strong{
  position: absolute;
  top: 50%;
  padding: 5px;
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
}

.switch{
  width: 10px;
  height: 9px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: 10%;
  left: 80%;
  transition: 1s;
}

.switch-active{
  position: relative;
  left: 80px;
  background-color: rgb(0, 255, 0);
  transition: 1s;
}

.switchON{
  height: 10px;
  position: relative;
  transition: 1s;
  left: 70px;
  top: 90px;
  opacity: 0;
}

.switchON-active{
  color: black;
  opacity: 1;
}

p{
  position: relative;
  top: 75px;
}

.icon-t{
  display: flex;
  position: absolute;
  top: 10%;
  left: 10px;
  width: 70px;
  height: 60px;
}

.tv {
  position: relative;
  top: 25%;
  left: 25%;
  display: block;
  width: 42px;
  height: 32px;
  border: 2px solid;
  border-radius: 2px
}
.tv::after,
.tv::before {
  content: "";
  display: block;
  position: absolute
}
.tv::before {
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-bottom-left-radius: 2px;
  top: -12px;
  left: 15px;
  transform: rotate(-45deg);
  width: 6px;
  height: 9px
}
.tv::after {
  width: 20px;
  height: 2px;
  background: black;
  border-radius: 10px;
  bottom: -6px;
  right: 9.5px
}

.lamp{
  position: relative;
  top: 18px;
  left: 25%;
  display: block;
  width: 22px;
  height: 32px;
  border: 2px solid;
  border-radius: 15px 0px 0px 15px;
  transform: rotate(-270deg);
}

.lamp::after,
.lamp::before {
  content: "";
  display: block;
  position: absolute
}

.lamp::after{
  width: 20px;
  border: 1px solid black;
  top: 13px;
  left: -23px;
}

.lamp::before{
  width: 5px;
  height: 13px;
  border-radius: 25%;
  border: 1px solid black;
  left: 19px;
  top: 7px;
}

.router{
  top: 75%;
  left: 25%;
  width: 32px;
  height: 10px;
  background-color: black;
  border-radius: 15%;
}

.router::after,
.router::before{
  content: "";
  display: block;
  position: absolute;
}

.router::after{
  width: 5px;
  height: 5px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: white;
}

.router::before{
  width: 3px;
  height: 15px;
  background-color: black;
  top: -9px;
  left: 22px;
}

.signal{
  position: relative;
  top: 18px;
  left: -3px;
	border: 12px double transparent;
	border-top-color: currentColor;
	border-radius: 40%;
}

.computer{
  top: 30%;
  left: 10%;
  width: 40px;
  height: 30px;
  border: 2px solid black;
}

.computer::after,
.computer::before{
  content: "";
  position: absolute;
  display: block;
}

.computer::after{
  top: 95%;
  left: 50%;
  width: 7px;
  height: 7px; 
  border-bottom: 3px solid black;
  transform: rotate(90deg);
}

.computer::before{
    top: 33px;
    left: 11px;
    width: 15px;
    height: 2px;
    border-bottom: 3px solid black;
    border-radius: 50%;
    transform: rotate(180deg);
}

.computer_case{
  top: 15%;
  left: 12%;
  width: 25px;
  height: 48px;
  border: 2px solid black;
}
.computer_case::after,
.computer_case::before{
  content: "";
  position: absolute;
  display: block;
}

.computer_case::after{
  left: 25%;
  top: 70%;
  width: 7px;
  height: 7px;
  border: 2px solid black;
  border-radius: 50%;
}

.computer_case::before{
  top: 20%;
  left: 15%;
  width: 10px;
  height: 2px;
  border: 2px double black;
}

.navigation{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border-radius: 20px;
  background-color: rgba(0, 153, 255, 0.562);
}
.looking{
  z-index: 1;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #00132C;
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 20px;
  font-weight: 600;
}
.map{
  z-index: 1;
  position: relative;
  top: 30px;
  left: 0px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 20px;
  opacity: 0.7;
}
.looking:hover{
  padding: 4px;
  transition: 1s;
}
.map:hover{
  opacity: 1;
  transition: 2s;
}


/*end section 1*/

/*start section 2*/
.main{
    display: flex;
    justify-content: center;
    height: 1500px;
    margin-top: 20px;
  }

.info-box{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    width: 1400px;
    height: 720px;
}

.animation{
  position: absolute;
  top: 100px;
  width: 500px;
  height: 500px;
}

.click{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 1px solid #266DB6;
  color: #00132C;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
}

.click:hover {
  cursor: pointer;
}

.click:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 2px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.click:hover:before {
  background-color: rgba(0, 153, 255, 0.562);
}
.arrow{
  padding-left: 5px;
  transition: 2s;
}
.a-arrow{
  transition: 2s;
  transform: rotate(-180deg);
  padding-left: 5px;
}
h1{
  height: 40px;
  text-align: center;
  margin: 7px;
  text-transform: uppercase;
  font-family: "Audiowide", sans-serif;
  font-size: 27px;
}
.section, .section-2{
  font-family: 'Work Sans', sans-serif;
  font-size: 38px;
}
.info{
    width: 30%;
    height: 100px;
    transition: 2s;
    margin: 10px;
    z-index: 2;
}

.active{
  z-index: 2;
  width: 600px;
  height: 600px;
  background-color: rgba(0, 153, 255, 0.897);
  box-shadow: 0px 4px 16px -1px rgba(66, 68, 90, 1);
  border-radius: 20px;
  transition: 2s;
}

.info h1{
    text-align: center;
    text-transform: uppercase;
}

.text{
    display: none;
}

.show{
    display: flex;
    position: relative;
    top: 0px;
    padding: 10px;
    margin: 10px;
    font-size: 17px;
    font-family: sans-serif;
}
.show strong{
  font-family: sans-serif;
  position: absolute;
  top: 0;
}

.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  width: 100%;
  height: 30%;
  background-color: rgba(18, 147, 233, 0.3);
}

.contact{
  display: flex;
  background-color: white;
  width: 900px;
  height: 550px;
  box-shadow: 0px 4px 16px -1px rgba(66, 68, 90, 1);
}

.left-side{
  display: flex;
  justify-content: center;  
  height: 100%;
  width: 50%;
}

.h2-2{
  margin: 5px;
  position: absolute;
}
.adres{
  margin: 5px;
  position: absolute;
  top: 40px;
}

.right-side{
  display: flex;
  height: 100%;
  width: 50%;
}

.section-2{
  position: absolute;
  top: 48%;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(18, 147, 233, 0.3);
}
.footer p{
  position: absolute;
  top: 10px;
  left: 45%;
}


@media only screen and (max-width: 1024px) {
  *{
    margin: 0;
  }
  .container{
    width: 1024px;
    height: 700px;
  }
  .logo{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0%;
  }
  .textElement{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 20%;
    scale: 0.8;
  }
  #text, #text1{
    position: absolute;
    font-size: 30px;
    left: 30px;
  }
  .phone-container{
    width: 100%;
  }
  .case{
    left: 0;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    scale: 0.7;
  }
  .main{
    width: 100%;
  }
  .info-box{
    scale: 0.8;
    width: 100%;
    height: 1000px;
    left: 0;
    top: 0;
  }
  .show{
    transform: scale(80%);
  }
  .text{
    font-size: 18px;
  }

  h1{
    font-size: 15px;
    top: 15px;
  }
  .section{
    top: -20px;
  }
  .animation{
    top: 250px;
  }

  .contact{
    scale: 0.7;
  }
}

@media only screen and (max-width: 768px){
  html{
    overflow-x: hidden;
  }
  .container{
    width: 100%;
    flex-direction: column;
  }
  .logo{
    left: 0;
    scale: 0.7;
  }
  .textElement{
    top: 0%;
    left: 25%;
  }
  #text, #text1{
    top: 100px;
    left: -15%;
    font-size: 20px;
  }
  .case{
    top: -20px;
  }
  .animation{
    display: none;
  }
  .click{
    display: none;
  }
  .info{
    width: 80%;
    position: absolute;
  }
  .info:nth-child(1){
    top: -130px;
  }
  .info:nth-child(2){
    top: 345px;
  }
  .info:nth-child(3){
    top: 700px;
  }
  .text{
    padding: 10px;
    font-weight: 600;
    display: block;
    font-size: 15px;
    background-color: rgba(0, 153, 255, 0.562);
    box-shadow: 0px 4px 16px -1px rgba(66, 68, 90, 1);
    scale: 0.9;
    border-radius: 15px;
  }
  .text strong {
    font-family: sans-serif;
    position: absolute;
    top: 0%;
  }
  h1{
    font-size: 17px;
    top: 30px;
    z-index: 1;
  }
  .section-2{
   top: 1000px;
  }
  .contact-container{
    top: 1050px;
  }
  .contact{
    scale: 0.6;
  }

  .footer{
    top: 1550px;
  }

  .footer p{
    left: 2px;
  }
}






    
  
  
 
  
  
  


 
 
  

  

 

  











