
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Work Sans', sans-serif;
}

.unmask{
  transition: 1.5s;
  transform: translateX(-2000px) rotate(40deg);
}
.unmask-active{
  transform: translateX(0px);
}


/*start*/
.container {
    display: flex;
    background:linear-gradient(black 10%, rgba(0, 153, 255, 0.562) 80%);
}   

.logo{
    display: inline-block;
    width: 710px;
    height: 700px;
}
   
.textElement{
    display: inline-block;
    width: 500px;
    height: 700px;
}

#text, #text1{
    display: flex;
    justify-content: center;
    top: 250px;
    color: white;
    font-size: 30px;
    transition: 1s;
    font-family: "Audiowide", sans-serif;
}


.phone-container{
    display: flex;
    width: 710px;
    height: 700px;
    animation: down 3s linear;
}
@keyframes down{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 0.3;
  }
  50%{
    opacity: 0.6;
  }
  75%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}


.case{
    width: 300px;
    height: 550px;
    border: 5px solid black;
    border-radius: 15px;
    position: relative;
    left: 30%;
    top: 10%;
    background-color: white;
}


.date-container{
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 20px;
    border-radius: 25%;
    position: absolute;
    padding: 10px;
    top: -5px;
}
.speaker{
  width: 100px;
  height: 25px;
  background-color: #000813;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  top: 1px;
  left: 35%;
}
.internet{
  position: absolute;
  width: 20px;
  height: 15px;
  left: 85%;
}
.internet::before{
  position: absolute;
  top: 2px;
  content: "LTE";
  font-size: 10px;
}
.internet::after{
  content: "";
  width: 1px;
  height: 5px;
  border: 1px solid black;
  background-color: #000813;
  position: absolute;
  left: -6px;
  top: 4px;
}
.range{
  width: 3px;
  height: 5px;
  border: 1px solid black;
  background-color: #000813;
  position: absolute;
  left: 81.25%;
  top: 16px;
}
.range::before{
  content: "";
  width: 1px;
  height: 1px;
  border: 1px solid black;
  background-color: #000813;
  position: absolute;
  left: -5px;
  top: 1px;
}

.battery{
    width: 10px;
    height: 15px;
    border: 1px solid black;
    border-radius: 15%;
    background-color: rgb(56, 241, 0);
    transform: rotate(90deg);
}

.battery::before{
    content: " ";
    width: 2px;
    border: 1px solid black;
    position: absolute;
    top: -3px;
    left: 1.5px;
}

.app-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    left: 2.5%;
    top: 15%;
    width: 95%;
    height: 60%;
    background-color: var(--color);
}

.arrow-back{
  width: 15px;
  height: 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.356);
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 20px;
}
.arrow-back::after{
  content: "";
  width: 12px;
  height: 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.356);
  position: absolute;
  top: 2px;
  left: 2px;
  transform: rotate(30deg);
}

.arrow-back::before{
  content: "";
  width: 12px;
  height: 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.356);
  position: absolute;
  top: -4px;
  left: -5px;
  transform: rotate(-30deg);
}

.app{
  display: flex;
  margin: 5px;
  width: 45%;
  height: 40%;
  border-radius: 10%;
  cursor: pointer;
  box-shadow: 8px 8px 24px -10px rgba(66, 68, 90, 1);
  background-color: white;
  transition: 1s;
  
}

.app-active{
  background-color: rgba(0, 153, 255, 0.562);
  border-radius: 10%;
  border: 1px solid rgb(0, 153, 255);
}

strong{
  position: absolute;
  top: 50%;
  padding: 5px;
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
}

.switch{
  width: 10px;
  height: 9px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  top: 10%;
  left: 80%;
  transition: 1s;
}

.switch-active{
  position: relative;
  left: 80px;
  background-color: rgb(0, 255, 0);
  transition: 1s;
}

.switchON{
  height: 10px;
  position: relative;
  transition: 1s;
  left: 70px;
  top: 90px;
  opacity: 0;
}

.switchON-active{
  color: black;
  opacity: 1;
}

p{
  position: relative;
  top: 75px;
}

.icon-t{
  display: flex;
  position: absolute;
  top: 10%;
  left: 10px;
  width: 70px;
  height: 60px;
}

.tv {
  position: relative;
  top: 25%;
  left: 25%;
  display: block;
  width: 42px;
  height: 32px;
  border: 2px solid;
  border-radius: 2px
}
.tv::after,
.tv::before {
  content: "";
  display: block;
  position: absolute
}
.tv::before {
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-bottom-left-radius: 2px;
  top: -12px;
  left: 15px;
  transform: rotate(-45deg);
  width: 6px;
  height: 9px
}
.tv::after {
  width: 20px;
  height: 2px;
  background: currentColor;
  border-radius: 10px;
  bottom: -6px;
  right: 9.5px
}

.lamp{
  position: relative;
  top: 18px;
  left: 25%;
  display: block;
  width: 22px;
  height: 32px;
  border: 2px solid;
  border-radius: 15px 0px 0px 15px;
  transform: rotate(-270deg);
}

.lamp::after,
.lamp::before {
  content: "";
  display: block;
  position: absolute
}

.lamp::after{
  width: 20px;
  border: 1px solid black;
  top: 13px;
  left: -23px;
}

.lamp::before{
  width: 5px;
  height: 13px;
  border-radius: 25%;
  border: 1px solid black;
  left: 19px;
  top: 7px;
}

.router{
  top: 75%;
  left: 25%;
  width: 32px;
  height: 10px;
  background-color: black;
  border-radius: 15%;
}

.router::after,
.router::before{
  content: "";
  display: block;
  position: absolute;
}

.router::after{
  width: 5px;
  height: 5px;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  background-color: white;
}

.router::before{
  width: 3px;
  height: 15px;
  background-color: black;
  top: -9px;
  left: 22px;
}

.signal{
  position: relative;
  top: 18px;
  left: -3px;
	border: 12px double transparent;
	border-top-color: currentColor;
	border-radius: 40%;
}

.computer{
  top: 30%;
  left: 10%;
  width: 40px;
  height: 30px;
  border: 2px solid black;
}

.computer::after,
.computer::before{
  content: "";
  position: absolute;
  display: block;
}

.computer::after{
  top: 95%;
  left: 50%;
  width: 7px;
  height: 7px; 
  border-bottom: 3px solid black;
  transform: rotate(90deg);
}

.computer::before{
    top: 33px;
    left: 11px;
    width: 15px;
    height: 2px;
    border-bottom: 3px solid black;
    border-radius: 50%;
    transform: rotate(180deg);
}

.computer_case{
  top: 15%;
  left: 12%;
  width: 25px;
  height: 48px;
  border: 2px solid black;
}
.computer_case::after,
.computer_case::before{
  content: "";
  position: absolute;
  display: block;
}

.computer_case::after{
  left: 25%;
  top: 70%;
  width: 7px;
  height: 7px;
  border: 2px solid black;
  border-radius: 50%;
}

.computer_case::before{
  top: 20%;
  left: 15%;
  width: 10px;
  height: 2px;
  border: 2px double black;
}

.navigation{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border-radius: 20px;
  background-color: rgba(0, 153, 255, 0.562);
}
.looking{
  z-index: 1;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #00132C;
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 20px;
  font-weight: 600;
}
.map{
  z-index: 1;
  position: relative;
  top: 30px;
  left: 0px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 20px;
  opacity: 0.7;
}
.looking:hover{
  padding: 4px;
  transition: 1s;
}
.map:hover{
  opacity: 1;
  transition: 2s;
}


/*end section 1*/

/*start section 2*/
.main{
    display: flex;
    justify-content: center;
    height: 1500px;
    margin-top: 20px;
  }

.info-box{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    width: 1520px;
    height: 720px;
}

.smartHome{
  width: 60%;
  height: 60%;
  display: flex;
  position: absolute;
  top: 30%;
}

.half-circle{
  width: 510px;
  height: 260px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  border: 1px solid rgba(0, 153, 255, 0.562);
  background-color: rgba(0, 153, 255, 0.562);
  border-bottom: 0;
  position: absolute;
  top: 20%;
  left: 20%;
}

.cloud{
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 30%;
  left: 60%;
  box-shadow: 0px -5px 9px 2px rgba(255, 255, 255, 0.562);
  animation: move 15s linear infinite;
}
.cloud::after{
  content: "";
  width: 30px;
  height: 20px;
  background-color: white; 
  border-radius: 20px;
  transform: rotate(40deg);
  position: absolute;
  top: -25%;
  right: 25px;
}
.cloud::before{
  content: "";
  width: 35px;
  height: 30px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: -15px;
  left: 20px;
}

.cloud:nth-child(2){
  position: absolute;
  top: 20%;
  left: 120px;
}

@keyframes move {
 0%{
  transform: translate(10px);
 }
 50%{
  transform: translate(-10px);
 }
 100%{
  transform: translate(10px);
 }
}


.lawn{
  display: flex;
  z-index: 1;
  width: 550px;
  height: 20px;
  border: 1px solid rgb(24, 138, 24);
  background-color: rgb(24, 138, 24);
  border-radius: 30px;
  position: absolute;
  top: 78%;
  left: 18%;
}

.tree{
  height: 80px;
  width: 10px;
  position: absolute;
  background-color: rgb(95, 3, 3);
  left: 70%;
  top: -81px;
  box-shadow: 0px -20px 40px 8px rgb(43, 97, 18);
}
.tree::before{
  content: "";
  width: 0; 
  height: 0; 
  border-bottom: 50px solid rgb(43, 97, 18); 
  border-left: 40px solid transparent; 
  border-right: 40px solid transparent;
  position: absolute;
  left: -36px;
}

.tree::after{
  content: "";
  width: 0; 
  height: 0; 
  border-bottom: 50px solid rgb(43, 97, 18); 
  border-left: 40px solid transparent; 
  border-right: 40px solid transparent;
  position: absolute;
  left: -36px;
  top: -30px;
}

.tree:nth-child(2){
  left: 70px;
}
.tree:nth-child(3){
  left: 470px;
}

.ziutek{
  display: flex;
  z-index: 1;
  width: 25px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: 330px;
}

.head{
  width: 10px;
  height: 10px;
  background-color: #f8c291;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  position: absolute;
  top: 10px;
  left: 4.30px;
}
.corps{
  display: flex;
  z-index: 1;
  width: 12px;
  height: 18px;
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  position: absolute;
  top: 20px;
  left: 3px;

}
.corps::before{
  content: " ";
  width: 12px;
  height: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #00132C;
  position: absolute;
  top: 14px;
}
.corps::after{
  content: "";
  display: flex;
  z-index: 1;
  width: 5px;
  height: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transform: rotate(110deg);
  background-color: white;
  position: absolute;
  top: 1px;
  left: -2px;
}

.hand-left{
  width: 4px;
  height: 15px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: rotate(110deg);
  position: absolute;
  top: -6px;
  left: -4px;
  animation: 2s test linear infinite;
}

.hand-left::after{
  content: "";
  width: 4px;
  height: 3px;
  background-color: #f8c291;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 12px;
}

@keyframes test {
  0%{
    transform: rotate(110deg);
  }
  30%{
    transform: rotate(130deg);
  }
  50%{
    transform: rotate(140deg);
  }
  55%{
    transform: rotate(140deg);
  }
  75%{
    transform: rotate(135deg);
  }
  100%{
    transform: rotate(110deg);
  }
}


.hand-right{
  width: 4px;
  height: 15px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: rotate(-40deg);
  position: absolute;
  top: 1px;
  left: 12px;
}

.leg-left{
  width: 4px;
  height: 15px;
  background-color: #00132C;
  border-radius: 5px;
  position: absolute;
  top: 35px;
  left: 3px;
}

.leg-right{
  width: 4px;
  height: 15px;
  background-color: #00132C;
  border-radius: 5px;
  position: absolute;
  top: 35px;
  left: 11px;
}

.step-1{
  display: 1;
  z-index: 1;
  width: 190px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 77%;
  left: 32%;
}
.step-1::before{
  display: flex;
  z-index: 1;
  content: "";
  width: 50px;
  height: 69px;
  background-color: #718093;
  position: absolute;
  left: 5px;
  top: -69px;
}
.step-1::after{
  content: "";
  width: 90px;
  height: 20px;
  background-color: #718093;
  display: flex;
  z-index: 1;
  position: absolute;
  left: 99px;
  top: -20px;
}
.window{
  display: flex;
  z-index: 1;
  width: 40px;
  height: 35px;
  border: 3px solid #f7c230;
  position: absolute;
  top: -50px;
}
.window::before{
  content: "";
  width: 32px;
  height: 27px;
  border: 2px solid white;
  position: absolute;
  top: -1px;
  left: -1px;
}
.window::after{
  content: " ";
  width: 30px;
  height: 25px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: #0097e6;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(15, 226, 255, 0.36);
}
.step-2{
  width: 130px;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 64%;
  left: 37.9%;
  box-shadow: -20px -35px 40px 10px rgba(66, 68, 90, 1);
}
.door{
  width: 25px;
  height: 40px;
  background-color: #718093;
  position: absolute;
  top: 16px;
  left: 11.25px;
}
.door::after{
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 70%;
}

.window:nth-child(2){
  border: none;
  position: absolute;
  top: 6px;
  left: 45px;
}

.window:nth-child(3){
  border: none;
  position: absolute;
  top: 6px;
  left: 80px;
}
.window:nth-child(3)::after{
  width: 25px;
}

.window:nth-child(4){
  border: none;
  position: absolute;
  top: 6px;
  left: 110px;
}
.window:nth-child(4)::before{
  display: none;
}
.window:nth-child(4)::after{
  width: 15px;
  height: 22px;
  top: 3px;
}
.window:nth-child(2)::after, .window:nth-child(3)::after{
  height: 22px;
  top: 3px;
}

.step-3{
  width: 165px;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 34%;
}
.block{
  display: flex;
  z-index: 1;
  width: 90px;
  height: 20px;
  background-color: #718093;
  position: absolute;
  top: 79%;
  left: 81px;
}
.block::after{
  content: "";
  z-index: 0;
  width: 45px;
  height: 15px;
  background-color: #f7c230;
  position: absolute;
  top: 5px;
  left: -49.5%;
}
.block::before{
  content: "";
  width: 8px;
  height: 45px;
  background-color: #f7c230;
  position: absolute;
  top: -45px;
  left: 3px;
}

.top-window{
  width: 10px;
  height: 40px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: #0097e6;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(15, 226, 255, 0.36);
}

.top-window:nth-child(2){
  width: 25px;
  left: 18px;
}
.top-window:nth-child(3){
  left: 60px;
  top: -4px;
  width: 8px;
  height: 25px;
  transform: rotate(90deg);
}
.top-window:nth-child(4){
  left: 60px;
  top: 8px;
  width: 8px;
  height: 25px;
  transform: rotate(90deg);
}
.top-window:nth-child(5){
  left: 60px;
  top: 20px;
  width: 8px;
  height: 25px;
  transform: rotate(90deg);
}
.Big-top-window{
  width: 50px;
  height: 35px;
  position: absolute;
  top: 13px;
  left: 68%;
  background: #0097e6;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(15, 226, 255, 0.36);
}
.Big-top-window::after{
  content: "33";
  font-size: 10px;
  font-weight: 600;
  width: 15px;
  height: 10px;
  background-color: #f7c230;
  padding-bottom: 2px;
  padding-left: 3px;
  position: absolute;
  left: -20px;
}

.Big-top-window::before{
  content: "";
  font-size: 10px;
  font-weight: 600;
  width: 15px;
  height: 10px;
  background-color: #bdbdbd;
  padding-bottom: 2px;
  padding-left: 3px;
  position: absolute;
  left: -20px;
  top: 15px;
}

.roof{
  width: 68%;
  height: 2px;
  border: 1px solid #718093;
  background-color: #718093;
  position: absolute;
  left: -20px;
  display: flex;
  z-index: 1;
}
.roof::before{
  content: "";
  display: flex;
  z-index: 1;
  width: 80px;
  border: 3px solid #718093;
  position: absolute;
  left: 103px;
  top: -1px;
}

.roof2{
  height: 100px;
  width: 120px;
  clip-path: polygon(43% 3%, 94% 39%, 94% 74%, 10% 74%, 10% 36%);
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 33%;
  left: 333px;
}
.brink{
  background-color: #718093;
  width: 60px;
  height: 4px;
  transform: rotate(-40deg);
  border-left: 1px solid #718093;
  position: absolute;
  top: 37%;
  left: 333px;
}

.brink::after{
  content: "";
  background-color: #718093;
  width: 90px;
  height: 4px;
  border-left: 1px solid #718093;
  transform: rotate(70deg);
  position: absolute;
  left: 26px;
  top: 40px;
}

.window-top-top{
  width: 10px;
  height: 40px;
  background: #0097e6;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(15, 226, 255, 0.36);
  position: absolute;
  top: 41%;
  left: 355px;
}
.window-top-top::before{
  content: " ";
  width: 40px;
  height: 40px;
  background: #0097e6;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(15, 226, 255, 0.36);
  position: absolute;
  top: -2px;
  left: 13px;
}

.window-top-top::after{
  content: " ";
  width: 10px;
  height: 40px;
  background: #0097e6;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(15, 226, 255, 0.36);
  position: absolute;
  left: 60px;
}

.click{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  border: 1px solid #266DB6;
  color: #00132C;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
}

.click:hover {
  cursor: pointer;
}

.click:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 2px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.click:hover:before {
  background-color: rgba(0, 153, 255, 0.562);
}
.arrow{
  padding-left: 5px;
  transition: 2s;
}
.a-arrow{
  transition: 2s;
  transform: rotate(-180deg);
  padding-left: 5px;
}
h1{
  height: 40px;
  text-align: center;
  margin: 7px;
  text-transform: uppercase;
  font-family: "Audiowide", sans-serif;
  font-size: 27px;
}
.section, .section-2{
  font-family: 'Work Sans', sans-serif;
  font-size: 38px;
}


.info{
    width: 30%;
    height: 100px;
    transition: 2s;
    margin: 10px;
    z-index: 2;
}

.active{
  z-index: 2;
  width: 700px;
  height: 700px;
  background-color: rgba(0, 153, 255, 0.562);
  box-shadow: 0px 4px 16px -1px rgba(66, 68, 90, 1);
  transition: 2s;
}

.info h1{
    text-align: center;
    text-transform: uppercase;
}

.text{
    display: none;
}

.show{
    display: block;
    margin: 10px;
    font-size: 20px;
}

.contact-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  width: 100%;
  height: 30%;
  background-color: rgba(18, 147, 233, 0.3);
  backdrop-filter: blur(7.5px);
}

.contact{
  display: flex;
  background-color: white;
  width: 900px;
  height: 550px;
  box-shadow: 0px 4px 16px -1px rgba(66, 68, 90, 1);
}

.left-side{
  display: flex;
  justify-content: center;  
  height: 100%;
  width: 50%;
}

.h2-2{
  margin: 5px;
  position: absolute;
}
.adres{
  margin: 5px;
  position: absolute;
  top: 40px;
}

.right-side{
  display: flex;
  height: 100%;
  width: 50%;
}

.section-2{
  position: absolute;
  top: 48%;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(18, 147, 233, 0.3);
  backdrop-filter: blur(7.5px);
}


@media only screen and (max-width: 600px) {
  *{
    margin: 0;
  }
  .container{
    height: 1000px;
    flex-direction: column;
  }
  .logo{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
  }
  .textElement{
    width: 100%;
    height: 100px;
    top: -25%;
  }
  #text, #text1{
    font-size: 20px;
  }
  .phone-container{
    width: 100%;
  }
  .case{
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .main{
    width: 100%;
  }
  .smartHome{
    display: none;
  }
  .info-box{
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1{
   font-size: 15px;
  }
  .show{
    font-size: 15px;
  }
  .info{
    width: 250px;
    margin: 200px;
  }
  a::after{
    content: "↓";
    padding-left: 5px;
  }
  .active{
    height: 700px;
    width: 90%;
    margin: 15px;
  }

  .contact-container{
    top: 95%;
    width: 100%;
  }
  
  .section-2{
    top: 92%;
  }
}





    
  
  
 
  
  
  


 
 
  

  

 

  











